@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Droid2';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}


body{
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor0);
}
a.externo::after{
    content: '\00A0\1F517';
}
header{
    min-height: 150px;
    background-image: linear-gradient(to top, var(--cor5), var(--cor4), var(--cor3));
}
header > h1 {
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-top: 30px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.671);
}
header > p{
    color: lightgray;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    max-width: 500px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.719);
}

nav {
    background-color: #063d1e09;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    font-weight: bold;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
nav> a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    transition-duration: 0.5s;
}
main {
    background-color: white;
    box-shadow: 0px 0px 5px 1px var(--cor5);
    border-radius: 0px 0px 10px 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main h2{
    background-image: linear-gradient(to left, transparent, var(--cor1));
    color: var(--cor4);
    font-size: 1.3em;
    font-family: 'Droid2', Courier, monospace;
    font-weight: normal;
    text-indent: 8px;
}
main h1{
    color: var(--cor4);
    font-family: 'Droid2', Courier, monospace;
    padding: 15px;
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
}
main strong{
    color: var(--cor5);
    font-weight: bold;
}
main img.pequena {
    max-width: 350px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

img{
    min-width: 100px;
    max-width: 800px;
    width: 100%;
}

picture{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 0px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.help{
    border-radius: 0px 0px 10px 10px;
    margin: 15px;
    background-color: var(--cor0);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px var(--cor5);
}
.help > p{
    padding: 15px;
}
.help > h3 {
    background-color: var(--cor4);
    color: #d2d6d4;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
.help > p{
    padding: 10px;
}
.help ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}
footer{
    background-color: var(--cor4);
    color: rgb(165, 165, 165);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
